
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Services</title>

    
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/services/service-4/assets/css/service-4.css" />
</head>
<body>
    
    <section class="bg-light py-5 py-xl-8">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <h3 class="fs-6 mb-2 text-secondary text-center text-uppercase">What We Do?</h3>
                    <h2 class="display-5 mb-5 text-center">We are giving you perfect Staycation with our proficient services.</h2>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row gy-4 gy-xl-0">
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            
                            <h4 class="mb-4">Party Hall</h4>
                            <p class="mb-4 text-secondary">We provide a party hall for Birthday Parties, Ring Ceremony etc</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            
                            <h4 class="mb-4">Rooms</h4>
                            <p class="mb-4 text-secondary">We provide nit and clean delux, Ac and non-ac rooms to our customer.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            
                            <h4 class="mb-4">Cleaning</h4>
                            <p class="mb-4 text-secondary">We claened the rooms twice a day and maintain the higenity.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body text-center p-4 p-xxl-5">
                            
                            <h4 class="mb-4">24/7 Support</h4>
                            <p class="mb-4 text-secondary">Pushpak Park is here to help you at any time you need. You can contact us any time.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
